.home{
  height: 100vh;
  background-image: url("../Assests/wms.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  z-index: -1;
}